body {
    footer {grid-area: pie;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            font-size: $tamaño/3;
            color:white;     
}
}