
        header {grid-area: titulo;
                display: flex;
                 justify-content: center;
                 align-items: center;
                color: $color-violeta;
                text-shadow: 3px 5px 5px gray;
                font-size: $tamaño;} 
        nav {grid-area: menu;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                }

        
