body {
      main {grid-area: principal;
            font-style: italic;
            font-size: 3vh;
            color: black; 
                   /* Pagina home */
            img{height: 30vh; width: 30vh;}
                   /* Pagina atencion veterinaria */
            #imagen-veterinario {width: 120vh; height: 80vh;}
            .dropdown {border: 1px solid black;
                       display: inline-block;}
            .dropdown:hover .dropdown-content {display:block;
                                               transform:scale(1,2);}
            .dropdown-content {display: none;
                               position: absolute;
                               overflow: auto;
                               box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);}
            .dropdown-content:hover {color: #FFFFFF;
                                     background-color: #ad00bd;}
                         
            
        }
}


